.list-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
  }
  
  .item-id {
    font-weight: bold;
    width: 20vw;
  }
  
  .item-details {
    width: 25vw;
    color: #555;
  }